; hk make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"

; +++++ Libraries +++++

; dist
libraries[dist][directory_name] = "dist"
libraries[dist][type] = "library"
libraries[dist][destination] = "libraries"
libraries[dist][download][type] = "get"
libraries[dist][download][url] = "" ; TODO add download URI

; jquery.cycle
libraries[jquery.cycle][directory_name] = "jquery.cycle"
libraries[jquery.cycle][type] = "library"
libraries[jquery.cycle][destination] = "libraries"
libraries[jquery.cycle][download][type] = "get"
libraries[jquery.cycle][download][url] = "" ; TODO add download URI

; fullcalendar
libraries[fullcalendar][directory_name] = "fullcalendar"
libraries[fullcalendar][type] = "library"
libraries[fullcalendar][destination] = "libraries"
libraries[fullcalendar][download][type] = "get"
libraries[fullcalendar][download][url] = "" ; TODO add download URI

; json2
libraries[json2][directory_name] = "json2"
libraries[json2][type] = "library"
libraries[json2][destination] = "libraries"
libraries[json2][download][type] = "get"
libraries[json2][download][url] = "" ; TODO add download URI

; leaflet
libraries[leaflet][directory_name] = "leaflet"
libraries[leaflet][type] = "library"
libraries[leaflet][destination] = "libraries"
libraries[leaflet][download][type] = "get"
libraries[leaflet][download][url] = "" ; TODO add download URI

; jquery.imagesloaded
libraries[jquery.imagesloaded][directory_name] = "jquery.imagesloaded"
libraries[jquery.imagesloaded][type] = "library"
libraries[jquery.imagesloaded][destination] = "libraries"
libraries[jquery.imagesloaded][download][type] = "get"
libraries[jquery.imagesloaded][download][url] = "" ; TODO add download URI

; imagesloaded
libraries[imagesloaded][directory_name] = "imagesloaded"
libraries[imagesloaded][type] = "library"
libraries[imagesloaded][destination] = "libraries"
libraries[imagesloaded][download][type] = "get"
libraries[imagesloaded][download][url] = "" ; TODO add download URI

; jquery.imgareaselect
libraries[jquery.imgareaselect][directory_name] = "jquery.imgareaselect"
libraries[jquery.imgareaselect][type] = "library"
libraries[jquery.imgareaselect][destination] = "libraries"
libraries[jquery.imgareaselect][download][type] = "get"
libraries[jquery.imgareaselect][download][url] = "" ; TODO add download URI

; solrphpclient
libraries[solrphpclient][directory_name] = "solrphpclient"
libraries[solrphpclient][type] = "library"
libraries[solrphpclient][destination] = "libraries"
libraries[solrphpclient][download][type] = "get"
libraries[solrphpclient][download][url] = "" ; TODO add download URI

; SolrPhpClient
libraries[SolrPhpClient][directory_name] = "SolrPhpClient"
libraries[SolrPhpClient][type] = "library"
libraries[SolrPhpClient][destination] = "libraries"
libraries[SolrPhpClient][download][type] = "get"
libraries[SolrPhpClient][download][url] = "" ; TODO add download URI

